@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the program!</h1>
    <p>Select States above, or click <a href="/States/">here</a>.</p>
</div>
